footer.page-footer
  .container
    .row
      .col.l6.s12
        h5.white-text Jitta Prefood
        p.github-badge
          a(href="https://github.com/jitta/prefood" target="_blank") 
            img(src="/img/github-star.png" height="32")
          a(href="https://github.com/jitta/prefood" target="_blank")
            img(src="/img/github-watch.png" height="30")
        
      .col.l3.s12
        h5.white-text More
        ul
          li
            a.grey-text.text-lighten-3(href='/food/yesterday') Food Yesterday
          li
            a.grey-text.text-lighten-3(href='/food/today') Food Today
      .col.l3.s12
        h5.white-text Connect
        ul
          li
            a.grey-text.text-lighten-3(href='https://github.com/jitta/prefood' target="blank") GitHub Repo
          li
            a.grey-text.text-lighten-3(href='https://github.com/jitta/prefood/issues' target="blank") Report Issues
  .footer-copyright
    .container
      | Made with hungry by Jitta Engineer <img class="img-curry" src="/img/curry.png" height="30">
